@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&family=Inter:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
  --secondary: #0f172a;
  --accent: #f59e0b;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white text-secondary;
}

h1, h2, h3, h4 {
  font-family: 'Outfit', sans-serif;
}