* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
ul {
  list-style: none;
}